@import url('https://fonts.googleapis.com/css2?family=Viga&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
.cabecalho{
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    overflow: hidden;
}
.cabecalho .headline{
    font-family: 'Work Sans';
    font-size: 15pt;
    letter-spacing: 10px;
}
.cabecalho .headline span{
    font-family: 'Zen Dots';    
    font-size: 25pt;
    
}
.but{
    width: 310px;
    letter-spacing: 3px;
}
.but p{
    font-family: 'Work Sans';
    font-size: 10pt;
    margin-left: 10px;
    margin-bottom: 3px;
}
.but .contato{
    font-family: 'Viga';
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #093258;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 300px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5)
}
.but dialog{
    text-align: center; 
    color: white;
    height: 500px;
    width: 40%;
    background-color:#0878b9;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
}
.but dialog form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}
.but dialog form label{
    margin-bottom: 0;
    margin-top: .5rem;
}
.botao{
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 40%;
    border: none;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
    border-radius: .5rem;
    cursor: pointer;
}
@media screen and (max-width: 990px) {
    .cabecalho .headline{
        font-family: 'Work Sans';
        font-size: 10pt;
        letter-spacing: 10px;
    }
    .cabecalho .headline span{
        font-family: 'Zen Dots';    
        font-size: 20pt;
        
    }
}
@media screen and (max-width: 850px) {
    .cabecalho .headline{
        font-family: 'Work Sans';
        font-size: 8pt;
        letter-spacing: 10px;
    }
    .cabecalho .headline span{
        font-family: 'Zen Dots';    
        font-size: 15pt;
        
    }
    .but .contato{
        font-family: 'Viga';
        font-size: 15px;
        letter-spacing: 2px;
        background-color: #093258;
        border: none;
        border-radius: 4px;
        height: 50px;
        width: 250px;
        margin-left: 10px;
        color: white;
        cursor: pointer;
        box-shadow: 0 0 1em rgba(0, 0, 0, .3);
    }
}
@media screen and (max-width: 700px) {
    .cabecalho{
        flex-direction: column;
        height: 250px;
    }
    .cabecalho .headline{
        margin-top:15px;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .cabecalho .headline span{
        font-size: 28px;
    }
    .cabecalho .but{
        display: flex;
        justify-content: center;
        width: 400px;
        align-items: center;
    }
}
@media screen and (max-width: 500px) {
    .cabecalho .headline{
        font-size: 9px;
        text-align: center;
    }
    .cabecalho .headline span{
        font-size: 18px;
    }
    .cabecalho .but{
        flex-direction: column;
    }
}
