@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zen+Dots&display=swap');

.historia{
    display: flex;
    background-color: white;
    height: 400px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.historia h2{
    font-family: 'Zen Dots';
    
}
.historia p{
    font-family:'Lato';
    margin-top: 30px;
    
}
.historia .text{
    width: 50%;
    line-height: 25px;
    padding: 50px;
    z-index: 3;
}
.historia .triangulo{
    height: 100%;
    margin-right: 0;
    width: 450px;
    z-index: 1;
}
.historia .imagem-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    position: absolute;
    top: 15%;
    right: 30px;
    justify-items: center;
    margin-right: 30px;
    
}
.historia .imagem-grid img{
    height: 150px;
    width: 100%;
    z-index: 2;
}

@media screen and (max-width: 1180px) {
    .historia .imagem-grid img{
        height: 120px;
        width: 100%;
    }
    .historia{
        height: 550px;
    }
    .historia .imagem-grid{
        top: 25%;
        
    }
}
@media screen and (max-width: 1000px) {
    .historia .imagem-grid img{
        height: 100px;
        width: 100%;
    }
    .historia .imagem-grid{
        right: 70px;
        top: 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .historia .text{
        width: 80%;
    }
    .historia .triangulo{
        width: 350px;
       
    }
}
@media screen and (max-width: 780px) {
    .historia{
        height: 600px;
    }
    .historia .text{
        width: 80%;
    }
    .historia .triangulo{
        width: 250px;
       
    }
    .historia .imagem-grid{
        right: 30px;
    }
}
@media screen and (max-width: 650px) {
    .historia{
       height: 1400px;
       display: flex;
       flex-direction: column;
       
    }
    .historia .imagem-grid{
        position: static;
        display: flex;
        flex-direction: column;
        margin-top: 720px;
        align-items: center;
        margin-left: 30px;
    }
    .historia .text{
        position: absolute;
        text-align: justify;
        width: 100%;
        color: black;
    }
   
    .historia .triangulo{
        position: absolute;
        height: 700px;
        right: 0;
        
    }
    .historia .imagem-grid img{
        height: 140px;
        width: 270px;
    }
    @media screen and (max-width: 345px) {
        .historia{
            height: 1600px;
        }
        .historia .imagem-grid{
            margin-top: 950px;
        }
    }
}