.info{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}
.info .img-1{
    height: 300px;
    width: 330px;
}
.info .img-2{
    height: 300px;
    width: 350px;
}
.info .img-3{
    height: 300px;
    width: 300px;
}