.navbar{
    background-color: rgba(9, 50, 88, 1);
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    overflow: hidden;
}
.navbar img {
    height: 100px;
    width: 100px;
    margin-top: -20px;
}
.navbar ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    
}
.navbar ul li a:hover{
    color: #8d8b8b;
 
}
.navbar span {
    display: none;
    margin-bottom: 25px;
    color: white;
}
.menu-mobile{
    background-color: rgba(9, 50, 88, 1);
    display: none;
    cursor: pointer;
    position: absolute;
    width: 30%;
    right: 0;
    

}
.menu-mobile ul{
    /*display: flex;
    flex-direction: row;*/
    text-align: center;
    list-style-type: none;
    padding: 0;
}
.menu-mobile ul li a{
    text-decoration: none;
    color: white;
}
.menu-mobile ul li a:hover{
    color: #8d8b8b;
 
}
@media screen and (max-width: 660px){
    .navbar{
        padding: 0 20px 0 20px;
    }
    .navbar ul{
        display: none;
        
    }
    .navbar span{
        display: block;
    }
    
}
@media screen and (min-width: 660px){
    .menu-mobile ul{
        display: none;
    }
}
